@import './colors';
.App{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    button:focus{outline: none;}

    button{
        cursor: pointer;
    }

    .link{
        text-decoration: none;
        &:visited{
            text-decoration: none;
        }
    }
}