@import './colors';

.appointment{
    overflow: hidden;
    width: 100%;
    height: 100%;

    .appointment-container{
        &.small{
            height: 100%;
            width: 100%;

            .appointment-header{
                .header-tagline{
                    width: 100%;
                    height: 75px;
                    color: #fff;
                    background-color: $primary-red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    h2{
                        font-size: 2rem;
                    }
                }
            }

            .form-buttons{
                width: 100%;
                padding-top: 1rem;
                height: 30vh;
                max-height: 200px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                .form-selector{
                    width: 90%;
                    height: 45%;
                    max-height: 50px;
                    font-size: 1.5rem;
                    background: $primary-blue;
                    color: #fff;
                    border: none;

                    button:focus{
                        outline: 0;
                    }


                    &.top{
                        box-shadow: 10px 0px  $primary-red;
                        border-top-right-radius: 75px ;
                    }

                    &.bottom{
                        box-shadow: -10px 0px $primary-red;
                        border-bottom-left-radius: 75px ;
                        align-self: flex-end;
                    }



                    &.active{
                        background-color: $primary-red;
                        &.top{
                            box-shadow: 10px 0px  $primary-blue;
                        }
                        &.bottom{
                            box-shadow: -10px 0px $primary-blue;
                        }
                    }
                    
                }
            }

            .appointment-body{
                width: 100%;
                height: 80vh;
                max-height: 500px;
            }
            
            .bottom-info{
                width: 100%;
                height: 40vh;
                max-height: 230px;
            }


        }
    }
}



@media screen and (min-width: 375px){
    .appointment{
        .appointment-container{
            &.small{
                .appointment-header{
                    .header-tagline{
                        height: 100px;
                        h2{
                            width: 90%;
                            font-size: 2.5rem;
                        }
                    }
                }
    
                .form-buttons{
                    height: 30vh;
                    max-height: 225px;
                    .form-selector{
                        width: 85%;
                        height: 45%;
                        max-height: 75px;
                        font-size: 1.9rem;
                    }
                }
    
                .appointment-body{
                    margin: 0 auto;
                    width: 95%;
                    height: 80vh;
                    max-height: 475px;
                }
                
                .bottom-info{
                    width: 100%;
                    height: 40vh;
                    max-height: 230px;
                }
    
    
            }
        }
    }

}


@media screen and (min-width: 480px){
    .appointment{
        .appointment-container{
            &.small{
                .appointment-header{
                    .header-tagline{
                        height: 100px;
                        h2{
                            width: 90%;
                            font-size: 3rem;
                        }
                    }
                }
    
                .form-buttons{
                    height: 30vh;
                    max-height: 250px;
                    .form-selector{
                        width: 80%;
                        height: 45%;
                        max-height: 75px;
                        font-size: 1.9rem;
                    }
                }
    
                .appointment-body{
                    margin: 0 auto;
                    width: 80%;
                    height: 80vh;
                    max-height: 575px;
                }
                
                .bottom-info{
                    width: 100%;
                    height: 40vh;
                    max-height: 230px;
                }
    
    
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .appointment{
        .appointment-container{
            &.small{
                .appointment-header{
                    .header-tagline{
                        height: 125px;
                        h2{
                            width: 80%;
                            font-size: 3.5rem;
                        }
                    }
                }
    
                .form-buttons{
                    height: 30vh;
                    max-height: 250px;
                    .form-selector{
                        width: 75%;
                        height: 45%;
                        max-height: 90px;
                        font-size: 2.25rem;
                    }
                }
    
                .appointment-body{
                    margin: 0 auto;
                    width: 65%;
                    height: 80vh;
                    max-height: 575px;
                }
                
                .bottom-info{
                    width: 100%;
                    height: 45vh;
                    max-height: 250px;
                }
    
    
            }
        }
    }
 
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .appointment{
        .appointment-container{
            &.small{
                .appointment-header{
                    .header-tagline{
                        height: 125px;
                        h2{
                            width: 80%;
                            font-size: 4rem;
                        }
                    }
                }
    
                .form-buttons{
                    height: 35vh;
                    max-height: 350px;
                    .form-selector{
                        width: 70%;
                        height: 45%;
                        max-height: 110px;
                        font-size: 3rem;

                        &.top{
                            box-shadow: 20px 0px  $primary-red;
                            border-top-right-radius: 75px ;
                        }
    
                        &.bottom{
                            box-shadow: -20px 0px $primary-red;
                            border-bottom-left-radius: 75px ;
                            align-self: flex-end;
                        }
    
    
    
                        &.active{
                            background-color: $primary-red;
                            &.top{
                                box-shadow: 20px 0px  $primary-blue;
                            }
                            &.bottom{
                                box-shadow: -20px 0px $primary-blue;
                            }
                        }
                    }
                }
    
                .appointment-body{
                    margin: 0 auto;
                    width: 65%;
                    height: 80vh;
                    max-height: 775px;
                }
                
    
            }
        }
    }
 
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .appointment{
        .appointment-container{
            &.small{
                .appointment-header{
                    .header-tagline{
                        height: 150px;
                        h2{
                            width: 80%;
                            font-size: 5rem;
                        }
                    }
                }
    
                .form-buttons{
                    height: 35vh;
                    max-height: 450px;
                    .form-selector{
                        width: 65%;
                        height: 45%;
                        max-height: 150px;
                        font-size: 5rem;

                        &.top{
                            box-shadow: 25px 0px  $primary-red;
                            border-top-right-radius: 75px ;
                        }
    
                        &.bottom{
                            box-shadow: -25px 0px $primary-red;
                            border-bottom-left-radius: 75px ;
                            align-self: flex-end;
                        }
    
    
    
                        &.active{
                            background-color: $primary-red;
                            &.top{
                                box-shadow: 20px 0px  $primary-blue;
                            }
                            &.bottom{
                                box-shadow: -20px 0px $primary-blue;
                            }
                        }
                    }
                }
    
                .appointment-body{
                    margin: 0 auto;
                    width: 65%;
                    height: 80vh;
                    max-height: 775px;
                }
                
    
            }
        }
    }
 }
@media (min-width: 2000px) { 
    .appointment{
        .appointment-container{
            &.small{
                .appointment-header{
                    .header-tagline{
                        height: 150px;
                        h2{
                            width: 90%;
                            font-size: 8rem;
                        }
                    }
                }
    
                .form-buttons{
                    height: 35vh;
                    max-height: 500px;
                    .form-selector{
                        width: 60%;
                        height: 45%;
                        max-height: 175px;
                        font-size: 6rem;

                        &.top{
                            box-shadow: 25px 0px  $primary-red;
                            border-top-right-radius: 75px ;
                        }
    
                        &.bottom{
                            box-shadow: -25px 0px $primary-red;
                            border-bottom-left-radius: 75px ;
                            align-self: flex-end;
                        }
    
    
    
                        &.active{
                            background-color: $primary-red;
                            &.top{
                                box-shadow: 20px 0px  $primary-blue;
                            }
                            &.bottom{
                                box-shadow: -20px 0px $primary-blue;
                            }
                        }
                    }
                }
    
                .appointment-body{
                    margin: 0 auto;
                    width: 65%;
                    height: 80vh;
                    max-height: 775px;
                }
                
    
            }
        }
    }
 }





// Mobile Devices
 @media(min-width: 568px) and (max-height: 414px){
    .appointment{
        .appointment-container{
            &.small{
                .appointment-header{
                    .header-tagline{
                        height: 75px;
                        h2{
                            width: 90%;
                            font-size: 2.5rem;
                        }
                    }
                }
    
                .form-buttons{
                    height: 45vh;
                    max-height: 225px;
                    .form-selector{
                        width: 95%;
                        height: 45%;
                        max-height: 75px;
                        font-size: 1.9rem;
                    }
                }
    
                .appointment-body{
                    margin: 0 auto;
                    width: 70%;
                    height: 200vh;
                    max-height: 550px;
                }
                
                .bottom-info{
                    width: 100%;
                    height: 75vh;
                    max-height: 230px;
                }
    
    
            }
        }
    }
 }



