@import './colors';
@import './utilities';
.header-container-smaller{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #fff;
    z-index: 10;

    .header-logo{
        max-width: 170px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .link{
            border: none;
            background-color: #fff;
            padding-left: 5px;
            img{
                height: auto;
                max-width: 100%;
                cursor: pointer;
            }

        }
    }
    .header-dropdown-container{
        height: 35%;
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;

        .dropdown{
            width: 50%;
            max-width: 32px;
            border: 2px solid $blue-dark;
            background: $blue-dark;
            border-radius: 10px;
            transition: all 0.10s;
        }

        &:focus { outline: none; }

        &.active{
            display: flex;
            justify-content: center;
            align-items: center;
            .dropdown:nth-of-type(2n){
                display: none;
            }
            .dropdown:nth-of-type(1n){
                transform: translateY(2px) rotate(45deg);
                border-radius: 15px;

                z-index: 10;
            }
            .dropdown:nth-of-type(3n){
                transform: translateY(-2px) rotate(-45deg);
                border-radius: 15px;
            }

            .dropdown{
            }
        }
    }
}


.header-container-larger{
    width: 100vw;
    height: 20vh;
    max-height: 165px;
    letter-spacing: $letter-spacing;
    .header-contents{
        &.top{
            background: $blue-dark;
            height: 45%;
        }
        &.bottom{
            height: 55%;
        }
        .top-bar{
            height: 100%;
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .top-info{
                width: 55%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                button{
                    color: $primary-blue;
                    border: none;
                    padding: 10px 15px;
                    border-radius: 20px;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }

        }
        .bottom-bar{
            height: 100%;
            width: 100%;
            
            max-width: $screen-width;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .bottom-logo{
                height: 100%;
                max-width: 500px;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                .link{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    border: none;
                    background: #fff;
                    font-size: 3.5rem;
                    font-weight: 500;
                    color: #333;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    span{
                        color: $primary-red;
                        font-weight: 600;
                    }
                }
            }
            .bottom-nav{
                height: 100%;
                width: 60%;
                max-width: 1100px;
                nav{
                    height: 100%;
                    width: 100%;
                    max-width: 1100px;
                    ul{
                        height: 100%;
                        width: 100%;
                        list-style-type: none;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        li{
                            width: 20%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.5s;

                            &:hover{
                                background: #9191915d;
                                color:$blue-dark;

                                .nav{
                                    color:$blue-dark;
                                    &:visited{
                                        color:$blue-dark;
                                    }
    
                                }
                            }
                            
                            .nav{
                                height: 100%;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: $font-color;
                                text-decoration: none;
                                text-align: center;

                                font-size: 0.85rem;
                                &:visited{
                                    color: $font-color;
                                    text-decoration: none;
                                }
                                &.selected{
                                    background-color: $primary-blue;
                                    color: #fff;

                                    &:hover{
                                        background-color: $primary-blue;
                                        color: #fff;
                                    }
                                }

                            }

                        }
       
                    }
                }

            }
        }
    }
    
}


@media (min-width: 1200px){
    .header-container-larger{
        width: 100vw;
        height: 25vh;
        max-height: 185px;
        letter-spacing: $letter-spacing;
        .header-contents{
            &.top{
                background: $blue-dark;
                height: 45%;
            }
            &.bottom{
                height: 55%;
                width: 100%;
            }
            .top-bar{
                height: 100%;
                width: 100%;
                max-width: 1200px;
                margin: 0 auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .top-info{
                    width: 55%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
    
                    button{
                        color: $primary-blue;
                        border: none;
                        padding: 10px 15px;
                        border-radius: 20px;
                        font-size: 0.95rem;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }
    
            }
            .bottom-bar{
                height: 100%;
                width: 100%;
                max-width: 2000px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .bottom-logo{
                    height: 100%;
                    max-width: 1200px;
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .link{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        border: none;
                        background: #fff;
                        font-size: 5rem;
                        font-weight: 500;
                        color: #333;
                        span{
                            color: $primary-red;
                            font-weight: 600;
                        }
                    }
                }
                .bottom-nav{
                    height: 100%;
                    width: 60%;
                    max-width: 1100px;
                    nav{
                        height: 100%;
                        width: 100%;
                        max-width: 2000px;
                        ul{
                            height: 100%;
                            width: 100%;
                            list-style-type: none;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            li{
                                width: 20%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: all 0.5s;
    
                                &:hover{
                                    background: #9191915d;
                                    color:$blue-dark;
    
                                    .nav{
                                        color:$blue-dark;
                                        &:visited{
                                            color:$blue-dark;
                                        }
        
                                    }
                                }
                                
                                .nav{
                                    height: 100%;
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: $font-color;
                                    text-decoration: none;
                                    text-align: center;
    
                                    font-size: 1rem;
                                    &:visited{
                                        color: $font-color;
                                        text-decoration: none;
                                    }
                                    &.selected{
                                        background-color: $primary-blue;
                                        color: #fff;
    
                                        &:hover{
                                            background-color: $primary-blue;
                                            color: #fff;
                                        }
                                    }
    
                                }
    
                            }
           
                        }
                    }
    
                }
            }
        }
        
    }
}
