@import './colors';

.home{
    height: 100%;
    width: 100%;
    .home-container{
        &.small{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .home-container-img{
                margin-top: 65px;
                width: 100%;
                height: 35vh;
                margin-bottom: 0.5rem;
                background: url('../images/rodrigo-sarsfield-2mz9IKab7DE-unsplash.jpg') no-repeat center center /cover;
            }
            
            .home-container-top{
                width: 100%;
                height: 30vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .home-container-tagline{
                    height: 70%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h1{
                        font-size: 4rem;
                        line-height: 1;
                    }
                    h2{
                        font-size: 3rem;
                        font-weight: 300;
                    }
                }

                .home-container-btn{
                    height: 25%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 25px;
                    .link{
                        background: $primary-blue;
                        color: $background-light-primary;
                        padding: 15px 30px;
                        border-radius: 25px;
                        font-size: 23px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .home-container-body{
                background-color: $background-light-secondary;
                margin-top: 5rem;
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .body-tagline{
                    height: 10%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p{
                        font-size: 1rem;
                        color: $primary-blue;
                    }
                }

                .body-about{
                    height: 25%;
                    width: 75%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: $blue-dark;
                    h3{
                        font-size: 1.9rem;
                        font-weight: 500;
                        margin-bottom: 15px;
                    }

                    p{
                        font-size: 1.15rem;
                        font-weight: 100;
                        line-height: 1.2;
                    }
                }

                .body-information{
                    height: 55%;
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;

                    .info{
                        width: 100%;
                        height: 20%;

                        h3{
                            text-transform: uppercase;
                            font-weight: 400;
                            letter-spacing: 2px;
                            padding-bottom: 15px;
                            margin-bottom: 15px;
                            border-bottom: 2px solid $font-color-light;
                        }

                        p{
                            color: #696969;
                            font-size: 1.1rem;
                            font-weight: 100;
                        }
                    }
                }
                
            }
            .home-paralax-container{
                height: 30vh;
                width: 100%;
                .paralax{
                    width: 100%;
                    height: 100%;
                    background-image: url('../images/luis-vidal-FodEsaNZs48-unsplash.jpg');
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .home-classes{
                height: 90vh;
                width: 80%;

                .classes-title{
                    text-align: center;
                    font-size: 2rem;
                    padding: 2rem 0 2rem;
                    h2{
                        font-weight: 500;
                    }
                }

                .drop-down-container{
                    width: 100%;
                    height: 75vh;
                    padding-bottom: 1rem;

                    .drop-down{
                        margin: 0 auto;
                        height: 100px;
                        width: 80%;
                        border-radius: 5px;
                        margin-bottom: 20px;
                        transition: all 0.25s ease-in-out;

 
                        .drop-top{
                            align-self: flex-start;
                            color: $background-light-primary;
                            border: 2px solid $blue-light;
                            background: $primary-blue;
                            transition: all 0.15s ease-in-out;

                            border-radius: 5px;
                            margin: 0 auto;
                            width: 100%;
                            height: 50px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            z-index: 2;

                            h3{
                                padding-left: 10px;
                            }
                            i{
                                padding-right: 10px;
                            }
                        }
                        .drop-bot{
                            opacity: 0;
                            transition: all 0.45s ease-in-out;
                            height: 50px;

                            p{
                                display: none;
                            }
                        }

                        &.active{
                            height: 175px;

                            .drop-top{
                                background: $primary-red;
                                border-bottom: 3px solid transparent;
                            }
                
                            .drop-bot{
                                opacity: 1;
                                position: relative;
                                background: $background-light-secondary;
                                min-height: 125px;
                                max-height: 150px;
                                padding-top: 1rem;
                                width: 99%;
                                margin: 0  auto;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                flex-direction: column;

                                border: 2px solid $blue-light;
                                border-top: none;
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px;

                                p{
                                    display: flex;
                                    height: 20%;
                                    width: 90%;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    padding-left: 10px;
                                    font-weight: 100;
                                    font-size: 0.8rem;

                                    &.difficulty{
                                        text-transform: uppercase;
                                        font-weight: 600;
                                        padding-bottom: 5px;
                                        font-size: 1rem;
                                    }

                                    &.advanced{
                                        color: $primary-red;
                                    }

                                    &.beginner{
                                        color: green;
                                    }
                                }
                            }
                        }
                    }
                }

            }
            .bottom-info{
                width: 100%;
                height: 25vh;
            }

        }

        &.large{

        }
    }
}

@media screen and (min-width: 320px){
    .home{
        .home-container{
            &.small{
                .home-container-img{
                    height: 40vh;
                }
                .home-container-top{
                    height: 35vh;
                    max-height: 275px;
                    .home-container-tagline{
                        h1{
                            font-size: 4.25rem;
                        }
                    }
                }
    
                .home-container-body{
                    height: 130vh;
                    max-height: 800px;
                    
                    .body-information{
                        height: 60%;
                    }
                    
                }
                .home-paralax-container{
                    height: 35vh;
                }
    
                .home-classes{
                    height: 140vh;
                    max-height: 800px;
                }
                .bottom-info{
                    height: 40vh;
                    max-height: 250px;
                }
            }
        }
    }
}



@media screen and (min-width: 375px){
    .home{
        .home-container{
            &.small{
                .home-container-img{
                    height: 40vh;
                }
                .home-container-top{
                    .home-container-tagline{
                        height: 70%;
                        width: 100%;
                        h1{
                            font-size: 5rem;
                        }
                        h2{
                            font-size: 3.25rem;
                        }
                    }
                }
    
                .home-container-body{
                    height: 115vh;
    
                    .body-information{
                        height: 60%;
                    }
                    
                }
                .home-paralax-container{
                    height: 35vh;
                }
    
                .home-classes{
                    height: 120vh;
                    max-height: 800px;
                }
                .bottom-info{
                    height: 35vh;
                }
            }
        }
    }
}
@media screen and (min-width: 480px){
    .home{
        .home-container{
            &.small{
                .home-container-img{
                    height: 50vh;
                }
                
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .home{
        .home-container{
            &.small{
                .home-container-img{
                    height: 45vh;
                }
                .home-container-top{
                    .home-container-tagline{
                        height: 70%;
                        width: 100%;
                        h1{
                            font-size: 5rem;
                        }
                        h2{
                            font-size: 3.25rem;
                        }
                    }
                }
    
                .home-container-body{
                    height: 115vh;
    
                    .body-information{
                        height: 60%;
                    }
                    
                }
                .home-paralax-container{
                    height: 45vh;
                }
    
                .home-classes{
                    height: 100vh;
                    max-height: 800px;

                    .drop-down-container{
                        width: 100%;
                        height: 60vh;
                        padding-bottom: 1rem;
    

                    .drop-down{
                        margin: 0 0;
                        height: 100px;
                        width: 45%;
                        border-radius: 5px;
                        margin-bottom: 20px;

                        &.active{
                            height: 175px;
           
                            .drop-bot{

                                p{
                                    font-size: 1rem;

                                }
                            }
                        }
                    }
                }
                .bottom-info{
                    height: 35vh;
                }
            }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
 }