@import './colors';

.home{
    height: 100%;
    width: 100%;
    .home-container{
        &.small{
            overflow: hidden;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .home-container-img{
                margin-top: 65px;
                width: 100%;
                height: 35vh;
                background: url('../images/gym/equipment_04.jpg') no-repeat center center /cover;
            }
            
            .home-container-top{
                width: 100%;
                height: 35vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .home-container-tagline{
                    padding-top: 5px;
                    min-height: 170px;
                    height: 80%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    color: rgb(59, 59, 59);
                    align-items: center;
                    background: #fff;
                    img{
                        max-width: 190px;
                    }
                }

                .home-container-btn{
                    height: 20%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 15px;
                    .link{
                        background: $primary-red;
                        color: $background-light-primary;
                        padding: 15px 30px;
                        border-radius: 25px;
                        font-size: 23px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            text-align: center;
                            text-transform: uppercase;
                        }
                        &:hover{
                            background: $primary-blue;
                        }
                    }
                }
            }

            .home-container-body{
                background-color: $background-light-secondary;
                margin-top: 5rem;
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .body-tagline{
                    height: 10%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p{
                        font-size: 1rem;
                        color: $primary-blue;
                    }
                }

                .body-about{
                    height: 25%;
                    width: 75%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: $blue-dark;
                    h3{
                        font-size: 1.9rem;
                        font-weight: 500;
                        margin-bottom: 15px;
                    }

                    p{
                        font-size: 1.15rem;
                        font-weight: 300;
                        line-height: 1.2;
                    }
                }

                .body-information{
                    height: 55%;
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;

                    .info{
                        width: 100%;
                        height: 20%;

                        h3{
                            text-transform: uppercase;
                            font-weight: 400;
                            letter-spacing: 2px;
                            padding-bottom: 15px;
                            margin-bottom: 15px;
                            border-bottom: 2px solid $font-color-light;
                        }

                        p{
                            color: #505050;
                            font-size: 1.1rem;
                            font-weight: 300;
                        }
                    }
                }
                
            }
            .home-paralax-container{
                height: 30vh;
                width: 100%;
                .paralax{
                    width: 100%;
                    height: 100%;
                    background-image: url('../images/luis-vidal-FodEsaNZs48-unsplash.jpg');
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .home-classes{
                height: 90vh;
                width: 100%;

                .classes-title{
                    text-align: center;
                    padding: 2rem 0 2rem;
                    width: 100%;
                    height: 15vh;
                    max-height: 75px;
                    background-color: $primary-red;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1.25rem;
                    h2{
                        font-weight: 500;
                        font-size: 3.75rem;
                    }
                }

                .classes-image{
                    display: none;
                }

                .drop-down-container{
                    width: 100%;
                    height: 75vh;
                    padding-bottom: 1rem;

                    .drop-down{
                        margin: 0 auto;
                        height: 100px;
                        width: 80%;
                        border-radius: 5px;
                        margin-bottom: 20px;
                        transition: all 0.15s ease-in-out;

 
                        .drop-top{
                            align-self: flex-start;
                            color: $background-light-primary;
                            border: 2px solid $blue-dark;
                            background: $blue-dark;
                            transition: all 0.10s ease-in-out;

                            border-radius: 5px;
                            margin: 0 auto;
                            width: 100%;
                            height: 50px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            z-index: 2;

                            h3{
                                padding-left: 10px;
                            }
                            i{
                                padding-right: 10px;
                            }

                            &:hover{
                                background-color: $primary-red;
                            }
                        }
                        .drop-bot{
                            opacity: 0;
                            transition: all 0.45s ease-in-out;
                            height: 50px;

                            p{
                                display: none;
                            }
                        }

                        &.active{
                            height: 175px;

                            .drop-top{
                                background: $primary-red;
                                border: 3px solid $primary-red;
                            }
                
                            .drop-bot{
                                opacity: 1;
                                position: relative;
                                background: $background-light-secondary;
                                min-height: 125px;
                                max-height: 150px;
                                padding-top: 1rem;
                                width: 99%;
                                margin: 0  auto;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                flex-direction: column;

                                border: 2px solid $blue-dark;
                                border-top: none;
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px;

                                p{
                                    display: flex;
                                    height: 20%;
                                    width: 90%;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    padding-left: 10px;
                                    font-weight: 100;
                                    font-size: 1rem;

                                    &.difficulty{
                                        text-transform: uppercase;
                                        font-weight: 600;
                                        padding-bottom: 5px;
                                        font-size: 1rem;
                                    }

                                    &.advanced{
                                        color: $primary-red;
                                    }

                                    &.beginner{
                                        color: green;
                                    }
                                }
                            }
                        }
                    }
                }

            }
            .bottom-info{
                width: 100%;
                height: 25vh;
            }

        }

        &.large{
            overflow: hidden;
            .home-header{
                width: 100%;
                height: 75vh;
                max-height: 800px;
                background: url('../images/gym/equipment_04.jpg') no-repeat center center /cover;

                .header-title{
                    width: 35%;
                    float: right;
                    max-width: 350px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgba(255, 255, 255, 0.699);
                    color: #fff;
                    margin-right: 10%;
                    .title{
                        width: 100%;
                        height: 50%;
                        max-height: 500px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            max-width: 325px;
                            height: auto;
                        }


                    }
                    .header-container-btn{
                        height: 10%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        margin-top: 0px;
                        padding-bottom: .5rem;
                        .link{
                            background: $primary-red;
                            color: $background-light-primary;
                            padding: 20px 35px;
                            border-radius: 25px;
                            font-size: 1.6rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:hover{
                                background: $primary-blue;
                            }
                            p{
                                font-weight: 300;
                                text-align: center;
                                text-transform: uppercase;
                            }
                        }
                    }
                }

            }
            .home-container-body{
                width: 100%;
                height: 150vh;
                background-color: #fff;
                max-height: 1500px;
                min-height: 1450px;

                .body-tagline{
                    width: 100%;
                    height: 100px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-weight: 300;
                        color: $primary-blue;
                        font-size: 1.75rem;
                    }
                }
                .body-about{
                    width: 100%;
                    height: 30%;
                    min-height: 615px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .about-head{
                        width: 100%;
                        height: 20%;
                        min-height: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i{
                            font-size: 4rem;
                            color: $primary-red;
                        }
                    }

                    
                    .about-container{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    

                        .about-text{
                            width: 50%;
                            height: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            text-align: center;
                            color: #fff;
                            padding-left: 25px;
                            color: $blue-dark;
                            // background-color: #e63947d3;

                            h3{
                                width: 95%;
                                font-size: 5.25rem;
                                margin-bottom: 15px;
                            }
                            p{
                                width: 95%;
                                font-size: 2.25rem;
                            }
                            
                        }
                        .about-img{
                            width: 50%;

                            img{
                                max-width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
                .info-title{
                    width: 100%;
                    height: 125px;
                    background-color: $primary-red;
                    color: #fff;
                    text-align: center;
                    h1{
                        font-size: 6rem;
                    }
                }
                .body-information{
                    height: 45vh;
                    min-height: 450px;
                    max-height: 650px;
                    width: 75%;
                    margin: 0  auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    .info{
                        width: 45%;
                        height: 25%;
                        text-align: center;
                        h3{
                            font-size: 2rem;
                            text-transform: uppercase;
                            font-weight: 400;
                            letter-spacing: 2px;
                            padding-bottom: 15px;
                            margin-bottom: 15px;
                            border-bottom: 2px solid $font-color-light;
                        }

                        p{
                            width: 85%;
                            margin: 0 auto;
                            color: #696969;
                            font-size: 1.5rem;
                            font-weight: 100;
                        }
                    }
                }
                
            }
            .home-paralax-container{
                height: 50vh;
                max-height: 550px;
                width: 100%;
                .paralax{
                    width: 100%;
                    height: 100%;
                    background-image: url('../images/luis-vidal-FodEsaNZs48-unsplash.jpg');
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .home-classes{
                height: 250vh;
                min-height: 750px;
                max-height: 850px;
                    .classes-title{
                        text-align: center;
                        padding: 2rem 0 2rem;
                        width: 100%;
                        height: 15vh;
                        max-height: 125px;
                        background-color: $primary-red;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 1.25rem;
                        h2{
                            font-size: 7rem;
                            font-weight: 500;
                        }
                    }

                .classes-image-container{
                    padding-top: 1rem;
                    margin: 0 auto;
                    position: relative;
                    width: 95%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                }

                .classes-image{
                    height: 100%;
                    width: 50%;
                    min-width: 500px;
                    max-width: 800px;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    bottom:0;

                    img{
                        z-index:1;
                        max-width: 750px;
                        height: auto;
                        float: right;
                    }
                }

                .drop-down-container{
                    width: 100%;
                    height: 60vh;
                    padding-bottom: 1rem;
                    z-index: 2;


                .drop-down{
                    margin: 0 0;
                    height: 100px;
                    width: 45%;
                    border-radius: 5px;
                    margin-bottom: 20px;

                    .drop-top{
                        align-self: flex-start;
                        color: $background-light-primary;
                        border: 2px solid $blue-light;
                        background: $primary-blue;
                        transition: all 0.15s ease-in-out;

                        border-radius: 5px;
                        margin: 0 auto;
                        width: 100%;
                        height: 50px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        z-index: 2;

                        h3{
                            padding-left: 10px;
                            font-size: 2rem;
                        }
                        i{
                            padding-right: 10px;
                            font-size: 1.5rem;
                        }

                        &:hover{
                            background-color: $primary-red;
                        }
                    }
                    .drop-bot{
                        opacity: 0;
                        transition: all 0.45s ease-in-out;
                        height: 50px;

                        p{
                            display: none;
                        }
                    }

                    &.active{
                        height: 175px;

                        .drop-top{
                            background: $primary-red;
                            border-bottom: 3px solid transparent;
                        }
            
                        .drop-bot{
                            opacity: 1;
                            position: relative;
                            background: $background-light-secondary;
                            min-height: 125px;
                            max-height: 150px;
                            padding-top: 1rem;
                            width: 99%;
                            margin: 0  auto;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-direction: column;

                            border: 2px solid $blue-light;
                            border-top: none;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;

                            p{
                                display: flex;
                                height: 20%;
                                width: 90%;
                                justify-content: flex-start;
                                align-items: flex-start;
                                padding-left: 10px;
                                font-weight: 100;
                                font-size: 1.15rem;

                                &.difficulty{
                                    text-transform: uppercase;
                                    font-weight: 600;
                                    padding-bottom: 10px;
                                    margin-bottom: 10px;
                                    font-size: 1.25rem;
                                }

                                &.advanced{
                                    color: $primary-red;
                                }

                                &.beginner{
                                    color: green;
                                }
                            }
                        }
                    }
                }
            }

        }
        }
    }
}

@media screen and (min-width: 320px){
    .home{
        .home-container{
            &.small{
                .home-container-img{
                    height: 40vh;
                }
                .home-container-top{
                    height: 35vh;
                    max-height: 275px;
                    .home-container-tagline{
                        h1{
                            font-size: 4.25rem;
                        }
                    }
                }
    
                .home-container-body{
                    height: 130vh;
                    max-height: 800px;
                    
                    .body-information{
                        height: 60%;
                    }
                    
                }
                .home-paralax-container{
                    height: 35vh;

                    .paralax{
                        width: 100%;
                        height: 100%;
                        background: url('../images/luis-vidal-FodEsaNZs48-unsplash.jpg') no-repeat center center /cover;                       
                    }
                }
    
                .home-classes{
                    height: 135vh;
                    min-height: 850px;
                    max-height: 900px;
                }

                .bottom-info{
                    height: 40vh;
                    max-height: 250px;
                    min-height: 225px;
                }
            }
        }
    }
}



@media screen and (min-width: 375px){
    .home{
        .home-container{
            &.small{
                .home-container-img{
                    height: 44vh;
                }
                .home-container-top{
                    .home-container-tagline{
                        min-height: 185px;
                        height: 80%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        color: rgb(59, 59, 59);
                        align-items: center;
                        background: #fff;
                        img{
                            max-width: 225px;
                        }
                    }

                    .home-container-btn{
                        margin-top: 20px;

                    }
                    
                }
    
                .home-container-body{
                    height: 115vh;
    
                    .body-information{
                        height: 60%;
                    }
                    
                }
                .home-paralax-container{
                    height: 35vh;
                }
    
                .home-classes{
                    height: 115vh;
                    min-height: 775px;
                    max-height: 825px;
                }
                .bottom-info{
                    height: 35vh;
                }
            }
        }
    }
}
@media screen and (min-width: 480px){
    .home{
        .home-container{
            &.small{
                .home-container-img{
                    height: 50vh;
                }

                .home-container-top{
                    .home-container-tagline{
                        min-height: 225px;
                        height: 80%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        color: rgb(59, 59, 59);
                        align-items: center;
                        background: #fff;
                        img{
                            max-width: 275px;
                        }
                    }

                    .home-container-btn{
                        height: 20%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 10px;
                        .link{
                            background: $primary-red;
                            color: $background-light-primary;
                            padding: 15px 30px;
                            border-radius: 25px;
                            font-size: 1.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            p{
                                text-align: center;
                                text-transform: uppercase;
                            }
                        }
                    }

                    

                }


                .home-paralax-container{
                    height: 30vh;
                    width: 100%;
                    .paralax{
                        width: 100%;
                        height: 100%;
                        background-image: url('../images/luis-vidal-FodEsaNZs48-unsplash.jpg');
                        background-attachment: fixed;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }

                .drop-top{
                    height: 60px;
                    font-size: 1.25rem;
     
                } 
                
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .home{
        .home-container{
            &.small{
                .home-container-img{
                    height: 45vh;
                }
                .home-container-top{
                    height: 60vh;
                    min-height: 325px;
                    max-height: 350px;
                    .home-container-tagline{
                        min-height: 280px;
                        height: 80%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        color: rgb(59, 59, 59);
                        align-items: center;
                        padding-bottom: 10px;
                        background: #fff;
                        img{
                            max-width: 325px;
                        }
                    }
                }
    
                .home-container-body{
                    height: 115vh;
    
                    .body-information{
                        height: 60%;
                    }
                    
                }
                .home-paralax-container{
                    height: 45vh;
                }
    
                .home-classes{
                    height: 110vh;
                    min-height: 850px;
                    max-height: 875px;
                    width: 100%;
                
                .classes-title{
                    width: 100%;
                    height: 20vh;
                    max-height: 115px;
                    background-color: $primary-red;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1.25rem;
                    h2{
                        font-size: 4.5rem;
                    }
                }

                .classes-image-container{
                    padding-top: 1rem;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                }

                .classes-image{
                    height: 100%;
                    width: 50%;
                    min-width: 500px;
                    max-width: 800px;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    bottom:0;

                    img{
                        z-index:1;
                        max-width: 700px;
                        height: auto;
                        float: right;
                    }
                }
                

                    

                    .drop-down-container{
                        margin-left: 10px;
                        width: 50%;
                        height: 60vh;
                        padding-bottom: 1rem;
                        z-index: 3;

                    .drop-down{
                        margin: 0 0;
                        height: 100px;
                        width: 100%;
                        border-radius: 5px;
                        margin-bottom: 30px;

                        
                    .drop-top{
                        height: 60px;
                        font-size: 1.25rem;
                    }


                        &.active{
                            height: 175px;
           
                            .drop-bot{

                                p{
                                    font-size: 1.15rem;

                                }
                            }
                        }
                    }
                }
                .bottom-info{
                    height: 35vh;
                }
            }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .home{

        .home-container{
            &.large{
                .home-header{
                    height: 75vh;
                    max-height: 700px;
                    .header-title{
                        margin-right: 20%;

                    }
    
                }
                .home-container-body{
                    .body-tagline{
                        background-color: $background-light-secondary;
                        width: 100%;
                        height: 125px;
                    }
                    .body-about{
                        width: 100%;
                        height: 30%;
    
                        .about-head{
                            i{
                                font-size: 4rem;
                            }
                        }
    
                        
                        .about-container{
                            min-width: 600px;
                            max-width: 1100px;
                            margin: 0 auto;

                            .about-img{    
                                img{
                                    max-width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                    .info-title{
                        width: 100vw;
                    }
                    .body-information{
                        min-height: 450px;
                        max-height: 650px;
                        width: 60%;
                        max-width: 1100px;
                        min-width: 850px;
                        margin: 0  auto;

                        .info{
                            h3{
                                font-size: 2.25rem;
                            }
                            p{
                                font-size: 1.75rem;
                            }
                        }
                    }
                }
                .home-paralax-container{
                    height: 65vh;
                    max-height: 650px;
                }
                .home-classes{
                        .classes-title{
                            width: 100vw;
                        }
    
                    .classes-image-container{
                        max-width: 1100px;
                        padding-top: 1rem;
                        margin: 0 auto;
                        position: relative;
                        width: 95%;
                        height: 100%;

                    }
                    .classes-image{
                        img{
                            z-index:-1;
                        }
                    }
                } 
            }
        }
    }
 }

 @media (min-width: 2000px) { 
    .home{

        .home-container{
            &.large{
                .home-header{
                    .header-title{
                        margin-right: 25%;

                    }
    
                }
                .home-container-body{
                    .body-tagline{
                        width: 100%;
                        height: 150px;
                    }
                    .body-about{
                        width: 100%;
                        height: 30%;
    
                        .about-head{
                            i{
                                font-size: 4rem;
                            }
                        }
    
                        
                        .about-container{
                            max-width: 1200px;
                            margin: 0 auto;

                            .about-img{    
                                img{
                                    max-width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                    .info-title{
                        width: 100vw;
                    }
                    .body-information{
                        min-height: 550px;
                        max-height: 600px;
                        width: 60%;
                        max-width: 1200px;
                        min-width: 850px;
                        margin: 0  auto;

                        .info{
                            h3{
                                font-size: 3.2rem;
                            }
                            p{
                                font-size: 2rem;
                            }
                        }
                    }
                }
                .home-paralax-container{
                    height: 65vh;
                    max-height: 700px;
                }
                .home-classes{
                        .classes-title{
                            width: 100vw;
                            height: 20vh;
                            max-height: 150px;

                            h2{
                                font-size: 8rem;
                            }
                        }
    
                    .classes-image-container{
                        max-width: 1200px;
                        padding-top: 1rem;
                        margin: 0 auto;
                        position: relative;
                        width: 95%;
                        height: 100%;

                    }
                    .classes-image{
                        img{
                            z-index:-1;
                        }
                    }

                    .drop-down-container{
                        width: 100%;
                        height: 70vh;
                        padding-bottom: 1rem;
                        z-index: 2;
    
    
                    .drop-down{
                        .drop-top{
                            h3{
                                font-size: 2.75rem;
                            }
                        }
                        }
                    }
                } 
            }
        }
    }
 }




 // Mobile Devices
 @media(min-width: 568px) and (max-height: 414px){
    .home{
        .home-container{
            &.small{
                .home-container-img{
                    height: 45vh;
                }
                .home-container-top{
                    width: 100%;
                    height: 75vh;
                    .home-container-tagline{
                        min-height: 200px;
                        height: 80%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        color: rgb(59, 59, 59);
                        align-items: center;
                        background: #fff;
                        img{
                            max-width: 250px;
                            margin-bottom: 10px;
                        }
                    }
                    
                }
    
                .home-container-body{
                    height: 175vh;
    
                    .body-information{
                        height: 60%;
                    }
                    
                }
                .home-paralax-container{
                    height: 45vh;
                    width: 100%;
                    .paralax{
                        width: 100%;
                        height: 100%;
                        background: url('../images/luis-vidal-FodEsaNZs48-unsplash.jpg') no-repeat center center /cover;                       
                    }
                }
    
                .home-classes{
                    height: 250vh;
                    min-height: 750px;
                    max-height: 775px;

                    .classes-image-container{
                        padding-top: 1rem;
                        margin: 0 auto;
                        position: relative;
                        width: 95%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                    }
    
                    .classes-image{
                        height: 100%;
                        width: 50%;
                        min-width: 500px;
                        max-width: 800px;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        right: 0;
                        bottom:0;
    
                        img{
                            z-index:1;
                            max-width: 650px;
                            height: auto;
                            float: right;
                        }
                    }

                    .drop-down-container{
                        width: 100%;
                        height: 60vh;
                        padding-bottom: 1rem;
                        z-index: 2;
    

                    .drop-down{
                        margin: 0 0;
                        height: 100px;
                        width: 45%;
                        border-radius: 5px;
                        margin-bottom: 20px;

                        &.active{
                            height: 175px;
           
                            .drop-bot{

                                p{
                                    font-size: 1rem;

                                }
                            }
                        }
                    }
                }
            }
                .bottom-info{
                    height: 60vh;
                    max-height: 700px;
                }
            }
        }
    }

 }