@import './colors';

.services{
    overflow: hidden;
    height: 100%;
    width: 100%;

    .services-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
     
        .body-container{
            width: 100%;
            height: 355vh;
            max-height: 2100px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;


            .body-about{
                height: 10%;
                max-height: 200px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                color: $blue-dark;
                .about-title{
                    max-height: 50px;
                    height: 50%;
                    width: 100%;
                    background: $primary-red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    h3{
                        font-size: 2.25rem;
                        font-weight: 500;
                    }
                }
                p{
                    width: 75%;
                    font-size: 1.15rem;
                    font-weight: 100;
                    line-height: 1.2;
                    padding-bottom: 1rem;
                }
            }

            .body-information{
                height: 40%;
                max-height: 725px;
                width: 75%;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;

                .info{
                    width: 100%;
                    height: 20%;
                    padding-bottom: 10px;
                    h3{
                        text-transform: uppercase;
                        font-weight: 400;
                        letter-spacing: 2px;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        border-bottom: 2px solid $font-color-light;
                    }

                    p{
                        color: #696969;
                        font-size: 1.1rem;
                        font-weight: 100;
                    }
                }
            }
            .body-image-title{
                height: 10%;
                max-height: 75px;
                padding: .75rem;
                background-color: $primary-red;
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                margin: 1rem  0 0;
                h2{
                    font-size: 2.5rem;
                    font-weight: 500;
                }
            }
            .body-images{
                background: $background-light-secondary;
                height: 40%;
                max-height: 1200px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                }
        }
        .footer-container{
            width: 100%;
            height: 40vh;
            max-height: 250px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding-bottom: 60px;
            margin-top: 2rem;

            .footer-tagline{
                height: 50%;
                width: 100%;
                background: $primary-red;
                max-height: 75px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                h3{
                    color: #fff;
                    font-size: 2rem;
                }
            }
            .button-container{
                height: 50%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 25px;
                .link{
                    background: $primary-blue;
                    color: $background-light-primary;
                    padding: 15px 30px;
                    border-radius: 25px;
                    font-size: 23px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }
        }

    }
}


@media screen and (min-width: 375px){
    .services{
        .services-container{         
            .body-container{
                height: 400vh;
                min-height: 1750px;
                max-height: 1950px;
                .body-about{
                    height: 15%;
                    max-height: 250px;
                    .about-title{
                        padding: 1rem;
                        max-height: 75px;
                        h3{
                            font-size: 2.5rem;
                        }
                    }
                    p{
                        font-size: 1.25rem;
                        margin-bottom: 1rem;
                    }
                }
    
                .body-information{
                    height: 40%;
                    max-height: 525px;
                    margin-bottom: 2rem;
    
                    .info{
                        height: 20%;
                        padding-bottom: 5px;
                        h3{
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                        }
    
                        p{
                            font-size: 1.15rem;
                        }
                    }
                }
                .body-image-title{
                    height: 15%;
                    max-height: 75px;
                    padding: 1rem;
                    margin: 1rem  0 0;
                    h2{
                        font-size: 2.5rem;
                    }
                }
                .body-image-title + div:last-child{
                    height: 150vh;
                    background: $background-light-secondary;
                    min-height: 1025px;
                    max-height: 1350px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    display: block;
                        a{
                            width: 100%;
                            img{
                                max-height: 200px;
                                margin-top: 5px;
                                width: 100%;
                            }
                        }
    
                    }
            }
            .footer-container{
                height: 40vh;
                max-height: 250px;
                padding-bottom: 60px;
                margin-top: 0rem;
                padding-top: 0rem;
    
                .footer-tagline{
                    height: 50%;
                    width: 100%;
                    max-height: 75px;
                    h3{
                        font-size: 2rem;
                    }
                }
                .button-container{
                    height: 50%;
                    margin-top: 25px;
                    .link{
                        padding: 15px 30px;
                        border-radius: 25px;
                        font-size: 23px;

                    }
                }
            }
    
        }
    }
 

}


@media screen and (min-width: 480px){
    .services{
        .services-container{
            padding-bottom: 1rem;
         
            .body-container{
                width: 100%;
                height: 375vh;
                min-height: 900px;
                max-height: 1250px;
    
                .body-about{
                    height: 15%;
                    max-height: 200px;
                    .about-title{
                        padding: 1rem;
                        max-height: 75px;
                        h3{
                            font-size: 2.75rem;
                        }
                    }
                    p{
                        width: 65%;
                        font-size: 1.25rem;
                        margin-bottom: 1rem;
                    }
                }
    
                .body-information{
                    height: 40%;
                    max-height: 525px;
                    margin-bottom: 2rem;
    
                    .info{
                        width: 100%;
                        height: 15%;
                        padding-bottom: 5px;
                        h3{
                            text-transform: uppercase;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                        }
    
                        p{
                            color: #696969;
                            font-size: 1.15rem;
                            font-weight: 100;
                        }
                    }
                }
                .body-image-title{
                    height: 15%;
                    max-height: 75px;
                    padding: 1rem;
                    margin: 1rem  0 0;
                    h2{
                        font-size: 2.5rem;
                    }
                }
                .body-image-title + div:last-child{
                    height: 150vh;
                    background: $background-light-secondary;
                    min-height: 350px;
                    max-height: 475px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    display: block;
                        a{
                            width: 25%;
                            border-bottom: 5px;
                            &:last-of-type{
                                   width: 100%;
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                img{
                                }
                            }
                            img{
                                max-height: 100%;
                                width: 50%;
                                padding: 5px 5px 0;
                            }
                        }
                    }
            }
            .footer-container{
                width: 100%;
                height: 60vh;
                max-height: 250px;
                padding-bottom: 60px;
                padding-top: 0rem;
                margin-top: 1rem;
    
                .footer-tagline{
                    height: 50%;
                    width: 100%;
                    background: $primary-red;
                    max-height: 75px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    h3{
                        color: #fff;
                        font-size: 2rem;
                    }
                }
                .button-container{
                    height: 50%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 25px;
                    .link{
                        background: $primary-blue;
                        color: $background-light-primary;
                        padding: 15px 30px;
                        border-radius: 25px;
                        font-size: 23px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                }
            }
    
        }
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .services{
        .services-container{
            padding-bottom: 1rem;
         
            .body-container{
                width: 100%;
                height: 350vh;
                max-height: 1250px;
    
                .body-about{
                    height: 15%;
                    max-height: 200px;
                    .about-title{
                        padding: 1rem;
                        max-height: 75px;
                        h3{
                            font-size: 2.75rem;
                        }
                    }
                    p{
                        width: 50%;
                        font-size: 1.25rem;
                        margin-bottom: 1rem;
                    }
                }
    
                .body-information{
                    height: 40%;
                    max-height: 525px;
                    margin-bottom: 2rem;
    
                    .info{
                        width: 100%;
                        height: 15%;
                        padding-bottom: 5px;
                        h3{
                            text-transform: uppercase;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                        }
    
                        p{
                            color: #696969;
                            font-size: 1.15rem;
                            font-weight: 100;
                        }
                    }
                }
                .body-image-title{
                    height: 15%;
                    max-height: 75px;
                    padding: 1rem;
                    margin: 1rem  0 0;
                    h2{
                        font-size: 2.5rem;
                    }
                }
                .body-image-title + div:last-child{
                    height: 140vh;
                    min-height: 450px;
                    max-height: 550px;
                    width: 100%;
                        a{
                            width: 25%;
                            border-bottom: 5px;
                            &:last-of-type{
                                   width: 100%;
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                img{
                                }
                            }
                            img{
                                max-height: 175px;
                                width: 50%;
                                padding: 5px 5px 0;
                            }
                        }
                    }
            }
            .footer-container{
                width: 100%;
                height: 50vh;
                max-height: 250px;
                padding-bottom: 60px;
                padding-top: 0rem;
                margin-top: 1rem;
    
                .footer-tagline{
                    height: 50%;
                    width: 100%;
                    max-height: 75px;
                    h3{
                        color: #fff;
                        font-size: 2rem;
                    }
                }
                .button-container{
                    height: 50%;
                    width: 100%;
                    margin-top: 25px;
                    .link{
                        padding: 15px 30px;
                        border-radius: 25px;
                        font-size: 23px;
                    }
                }
            }
    
        }
    }
    
 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .services{
        .services-container{
            padding-bottom: 1rem;
         
            .body-container{
                width: 100%;
                height: 350vh;
                min-height: 1200px;
                max-height: 1450px;
    
                .body-about{
                    height: 15%;
                    max-height: 250px;
                    .about-title{
                        padding: 1rem;
                        max-height: 100px;
                        h3{
                            font-size: 4rem;
                        }
                    }
                    p{
                        width: 60%;
                        font-size: 1.7rem;
                        margin-bottom: 2rem;
                    }
                }
    
                .body-information{
                    height: 40%;
                    max-height: 525px;
                    margin-bottom: 2rem;
    
                    .info{
                        width: 100%;
                        height: 20%;
                        padding-bottom: 5px;
                        h3{
                            text-transform: uppercase;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                            font-size: 1.5rem;
                        }
    
                        p{
                            color: #696969;
                            font-size: 1.25rem;
                            font-weight: 100;
                        }
                    }
                }
                .body-image-title{
                    height: 15%;
                    max-height: 100px;
                    padding: 1rem;
                    margin: 1rem  0 0;
                    h2{
                        font-size: 4rem;
                    }
                }
                .body-image-title + div:last-child{
                    height: 100vh;
                    min-height: 500px;
                    max-height: 550px;    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                        a{
                            width: 45%;
                            border-bottom: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:last-of-type{
                                   width: 45%;
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                img{
                                }
                            }
                            img{
                                width: 95%;
                                padding: 5px 0;
                            }
                        }

    
                    }
            }
            .footer-container{
                width: 100%;
                height: 40vh;
                max-height: 250px;
                padding-bottom: 60px;
                padding-top: 1rem;
                margin-top: 0rem;
    
                .footer-tagline{
                    height: 50%;
                    width: 100%;
                    max-height: 100px;
                    padding: 1rem;
                    h3{
                        font-size: 3.5rem;
                    }
                }
                .button-container{
                    height: 50%;
                    width: 100%;
                    margin-top: 25px;
                    .link{
                        padding: 15px 45px;
                        border-radius: 25px;
                        font-size: 30px;
                    }
                }
            }
    
        }
    }
 
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .services{
        .services-container{
            padding-bottom: 1rem;
         
            .body-container{
                width: 100%;
                height: 350vh;
                min-height: 1400px;
                max-height: 1550px;
    
                .body-about{
                    height: 15%;
                    max-height: 250px;
                    .about-title{
                        padding: 1rem;
                        max-height: 125px;
                        h3{
                            font-size: 5rem;
                        }
                    }
                    p{
                        width: 65%;
                        font-size: 2rem;
                        margin-bottom: 2rem;
                    }
                }
    
                .body-information{
                    height: 45%;
                    width: 100%;
                    max-width: 1100px;
                    min-height: 400px;
                    max-height: 550px;
                    margin-bottom: 1rem;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: center;
                    .info{
                        width: 45%;
                        height: 20%;
                        padding-bottom: 5px;
                        text-align: center;
                        h3{
                            text-transform: uppercase;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                            font-size: 2rem;
                        }
    
                        p{
                            color: #696969;
                            font-size: 1.5rem;
                        }
                    }
                }
                .body-image-title{
                    height: 15%;
                    max-height: 125px;
                    padding: 1rem;
                    margin: 1rem  0 0.5rem;
                    h2{
                        font-size: 5rem;
                    }
                }
                .body-image-title + div:last-child{
                    background-color: $background-light-primary;
                    height: 100vh;
                    width: 900px;
                    min-height: 750px;
                    max-height: 800px;    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 2rem;
                        a{
                            width: 50%;
                            border-bottom: 5px;
                            &:last-of-type{
                                   width: 50%;
                                img{
                                    max-height: 250px;
                                }
                            }
                            img{
                                width: 95%;
                                max-height: 250px;
                                padding: 5px 0;
                            }
                        }

    
                    }
            }
            .footer-container{
                width: 100%;
                height: 40vh;
                max-height: 325px;
                padding-bottom: 60px;
                padding-top: 1.5rem;
                margin-top: 0rem;
    
                .footer-tagline{
                    height: 125px;
                    width: 100%;
                    max-height: 125px;
                    h3{
                        font-size: 5rem;
                    }
                }
                .button-container{
                    height: 50%;
                    width: 100%;
                    margin-top: 25px;
                    .link{
                        padding: 20px 45px;
                        border-radius: 25px;
                        font-size: 3rem;
                    }
                }
            }
    
        }
    }
 
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .services{
        .services-container{         
            .body-container{
                width: 100%;
                height: 350vh;
                min-height: 1900px;
                max-height: 2050px;
    
                .body-about{
                    height: 20%;
                    max-height: 300px;
                    .about-title{
                        padding: 1rem;
                        max-height: 125px;
                        h3{
                            font-size: 6rem;
                        }
                    }
                    p{
                        width: 65%;
                        font-size: 2.75rem;
                        margin-bottom: 2rem;
                    }
                }
    
                .body-information{
                    height: 45%;
                    width: 100%;
                    max-width: 1100px;
                    min-height: 600px;
                    max-height: 650px;
                    margin-bottom: 1rem;

                    .info{
                        width: 45%;
                        height: 20%;
                        padding-bottom: 5px;
                        text-align: center;
                        h3{
                            text-transform: uppercase;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                            font-size: 2.15rem;
                        }
    
                        p{
                            color: #696969;
                            font-size: 1.8rem;
                        }
                    }
                }
                .body-image-title{
                    height: 15%;
                    max-height: 125px;
                    padding: 1rem;
                    margin: 1rem  0 0.5rem;
                    h2{
                        font-size: 6rem;
                    }
                }
                .body-image-title + div:last-child{
                    background-color: $background-light-primary;
                    height: 100vh;
                    width: 1200px;
                    min-height: 900px;
                    max-height: 950px;    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 2rem;
                        a{
                            width: 50%;
                            border-bottom: 5px;
                            &:last-of-type{
                                   width: 50%;
                                img{
                                    max-height: 300px;
                                }
                            }
                            img{
                                width: 95%;
                                max-height: 300px;
                                padding: 5px 0;
                            }
                        }

    
                    }
            }
            .footer-container{
                width: 100%;
                height: 40vh;
                max-height: 350px;
                padding-bottom: 60px;
                padding-top: 1rem;
                margin-top: 0rem;
    
                .footer-tagline{
                    height: 125px;
                    width: 100%;
                    max-height: 125px;
                    h3{
                        font-size: 6rem;
                    }
                }
                .button-container{
                    height: 50%;
                    width: 100%;
                    margin-top: 35px;
                    .link{
                        padding: 20px 50px;
                        border-radius: 25px;
                        font-size: 3rem;
                    }
                }
            }
    
        }
    }
 }
@media (min-width: 2000px) { 
    .services{
        .services-container{         
            .body-container{
                width: 100%;
                height: 350vh;
                min-height: 2300px;
                max-height: 2450px;
    
                .body-about{
                    height: 20%;
                    max-height: 300px;
                    .about-title{
                        padding: 1rem;
                        max-height: 150px;
                        h3{
                            font-size: 8rem;
                        }
                    }
                    p{
                        width: 45%;
                        font-size: 3.25rem;
                        margin-bottom: 2rem;
                    }
                }
    
                .body-information{
                    height: 45%;
                    width: 100%;
                    max-width: 1500px;
                    min-height: 800px;
                    max-height: 850px;
                    margin-bottom: 1rem;

                    .info{
                        width: 45%;
                        height: 20%;
                        padding-bottom: 5px;
                        text-align: center;
                        h3{
                            text-transform: uppercase;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                            font-size: 3rem;
                        }
    
                        p{
                            color: #696969;
                            font-size: 2.25rem;
                        }
                    }
                }
                .body-image-title{
                    height: 15%;
                    max-height: 150px;
                    padding: 1rem;
                    margin: 1rem  0 0.5rem;
                    h2{
                        font-size: 8rem;
                    }
                }
                .body-image-title + div:last-child{
                    background-color: $background-light-primary;
                    height: 100vh;
                    width: 1500px;
                    min-height: 1000px;
                    max-height: 1050px;    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 1rem;
                        a{
                            width: 50%;
                            border-bottom: 5px;
                            &:last-of-type{
                                   width: 50%;
                                img{
                                    max-height: 350px;
                                }
                            }
                            img{
                                width: 95%;
                                max-height: 350px;
                                padding: 5px 0;
                            }
                        }

    
                    }
            }
            .footer-container{
                width: 100%;
                height: 50vh;
                max-height: 450px;
                padding-bottom: 60px;
                padding-top: 0rem;
                margin-top: 0rem;
    
                .footer-tagline{
                    height: 150px;
                    width: 100%;
                    max-height: 150px;
                    h3{
                        font-size: 8rem;
                    }
                }
                .button-container{
                    height: 50%;
                    width: 100%;
                    margin-top: 35px;
                    .link{
                        padding: 20px 50px;
                        border-radius: 25px;
                        font-size: 5rem;
                    }
                }
            }
    
        }
    }
 }





// Mobile Devices
 @media(min-width: 568px) and (max-height: 414px){
    .services{
        .services-container{         
            .body-container{
                height: 350vh;
                max-height: 1250px;
                .body-about{
                    .about-title{
                        h3{
                            font-size: 2.75rem;
                        }
                    }
                    p{
                        width: 65%;
                        font-size: 1.35rem;
                    }
                }
    
                .body-information{
                    height: 40%;
                    max-height: 525px;
                    margin-bottom: 2rem;
                }
                .body-image-title + div:last-child{
                    height: 140vh;
                    min-height: 550px;
                    max-height: 600px;
                    }
            }
            .footer-container{
                height: 55vh;
                max-height: 375px;
                padding-top: 0rem;
                margin-top: 2rem;
    
                .footer-tagline{
                    height: 50%;
                    width: 100%;
                    min-height: 75px;
                    max-height: 75px;
                    h3{
                        font-size: 2.25rem;
                    }
                }
                .button-container{
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
            }
    
        }
    }
 }