@import './colors';
@import './utilities';

.sidebar{
    height: 1000vh;
    max-height: 3050px;
    width: 260px;
    position: absolute;
    top: 0;
    left: -260px;
    z-index: 100;
    background: $background-light-primary;
    // animation: slideIn ease-in-out 0.5s forwards;
    .sidebar-container{
        position: fixed;
        width: 260px;
        height: 460px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .sidebar-logo{
            width: 98%;
            height: 90px;
            border-bottom: 1px solid #f0eeee;
            display: flex;
            justify-content: center;
            align-items: center;

            .link{
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                height: 90px;
                width: 100%;

                img{
                    max-height: auto;
                    max-width: 25%;
                    cursor: pointer;
                }
    
            }
        }

        .sidebar-container-links{
            height: 476px;
            width: 100%;
            ul{
                width: 98%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                li{
                    height: 50px;
                    width: 100%;
                    padding-left: 1rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    border-bottom: 1px solid #f0eeee;

                    .nav{
                        height: 100%;
                        width: 100%;
                        color: $font-color-light;  
                        letter-spacing: 1px;
                        text-decoration: none;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding-left: 10px;
                        &:visited{
                            color: $font-color-light;
                            text-decoration: none;
                        }

                    }
                    
                }
            }
            .sidebar-number{
                margin-top: 1rem;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                    border: none;
                    background:$blue-dark ;
                    padding: 15px 25px;
                    border-radius: 25px;
                    color: #fff;
                    font-size: 20px;
                    letter-spacing: 2px;
                }
            }




        }

    }
}


@keyframes slideIn{
    from{
        left: -260px;
    }
    to{
        left: 0;
    }
}
@keyframes slideOut{
    from{
        left: 0px;
    }
    to{
        left: -260px;
    }
}

